{% ckan_extends %}
{% block htmltag %}
<html lang="en" class="govuk-template ">
{% endblock %}
{% block meta %}
  {{ super() }}
  <!-- Google Analystics-->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQDBGHF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0LCLXB2HEZ');
    gtag('gtm.start', new Date().getTime(), {'event':'gtm.js'});
  </script>
  <link rel="stylesheet" href="https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- End Google Analystics-->
{% endblock %}
{% block styles %}
	{% asset 'nap_theme/govuk_css' %}
  {% asset 'nap_theme/nap_css' %}
{% endblock %}
{% block bodytag %}
class="govuk-template__body"
{% endblock %}
{% block scripts %}
  {% asset 'nap_theme/govuk_js' %}
  {% asset 'nap_theme/nap_js' %}
  {{ super() }}
{% endblock %}